body {
    margin: 0;
    min-height: 100vh;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    max-width: 100%;
    background-image: linear-gradient(180deg, #FCA3CC, #9ABF80); 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.flex-container > div {
    background-color: #E5E3D4;
    margin: 10px;
    padding: 20px;
    font-size: 11px;
    border-radius: 10px;
    border: 7px solid #80558C;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1),  /* Softer outer shadow */
                inset 2px 2px 5px rgba(128, 85, 140, 0.3),  /* Softer inner shadow */
                0 0 10px rgba(128, 85, 140, 0.4); /* Softer glow */
    transition: box-shadow 0.3s ease-in-out; 
}

.flex-container > div:hover {
    box-shadow: 0 0 8px rgba(128, 85, 140, 0.5),  /* Softer glow on hover */
                0 0 15px rgba(128, 85, 140, 0.6); /* Reduced glow on hover */
}

h2 {
    color: #8E3E63;
    text-shadow: 1px 0 0 #674188, 1px 1px 10px #C8A1E0;
}

p {
    color: #01204E;
    font-family: 'Nunito', serif;
    font-weight: 500;
    font-size: 15px;
}

.highlighted {
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold; 
    color: #5A6C57;
}

.fa-regular.fa-user, 
.fa-regular.fa-address-card, 
.fa-regular.fa-file {
    color: #DA7297;
    font-size: 25px;
    background: linear-gradient(45deg, #51710A, #6B4F4F);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
