body {
    margin: 0;
    padding: 0;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    height: 580px;
    background-color: paleturquoise;
    justify-content: center;
    align-items: center;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



